body{
    width: 100vw;
    margin: 0;
    font-family: serif;
}
.headerContainer{
    display: flex;
    width: 100%;
}
.headerContainer .logo{
    float: left;
    width: 20%;
    background-color: lightgrey;
    margin-left: 15px;
}
.headerContainer .navigation{
    float: right;
    width: 30%;
    margin-right: 15px;
    margin-left: auto;
    background-color: lightgrey;
}
.first>h1{
    font-size: 32px;
    
}
.first>p{
    font-size: 16px;
    margin-right: 1rem;
}
.second>h2{
    font-size: 24px;
}
.main{
    margin-left: 1rem;
    margin-right: 1rem;
}
.form-item{
    padding: 1rem 0;
}
.form-item label{
    font-size: 18px;
    position: absolute;
}

.form-item input{
    margin-left: 10rem;
}
.form-item select{
    margin-left: 10rem;
}
.form-item progress{
    margin-left: 10rem;
}
.form-item textarea{
    margin-left: 10rem;
}
fieldset{
    border: none;
    display: flex;
    flex-direction: row;
   justify-content: end;
}
.cnt{
    display: none;
}
input[type=checkbox]:checked~ .cnt{ display: list-item;}
button{
    height: 5rem;
    width: 10rem;
    float: right;
    margin-right: 15px;  
}
.photogallery{
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}
.photogallery>div{
    flex-basis: 25%;
}
.photo{
    width: 10rem;
    padding: 5px;
}





@media only screen and (max-width: 768px) {
    .form-item textarea{
        width: 60%;
        height: 150px;
    }
    fieldset{
        flex-direction: column;
    }
    button{
        float: none;
        margin-left: 40%;
    }
    
}