body{
    width: 100vw;
    margin: 0;
    font-family: sans-serif;
  }
  .headerName  {
    width: 100%;
    height: 150px;
    background-color: lightgrey;
    position: relative;
  }
h1{
    font-size: 3vw;
    text-transform: uppercase;
    position: absolute;
    margin-top: 50px;
    margin-left: 150px;
    font-family: serif;
  }
h3{
    font-size: 1vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    margin-top: 85px;
    margin-left: 150px;
    color: gray;
}  
.menu {
    list-style: none;
    padding: 10px;
    text-align: left;
    padding-left: 145PX;
    display:flex;
    color: black;
  }
  
.menu a {
  text-decoration: none;
  color: black;
  padding: 5px 15px;
  font-family: sans-serif;
  font-size: 14px;;
}
.menu a:hover {
  color: lightgrey;
}
.photo{
   width: 100%
}

.container{
  display:flex;
  flex-direction:row;
  justify-content:flex-start ;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.container .left{
  width: 40%;
  margin-left: 150px;
  margin-right: 15px;
}
.container .right{
  width: 60%;
}
.h2{
  font-size: 2vw;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
}
.p{
  font-size: 12px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding:0;
  margin:0;
  text-align: justify;
  color: black;
}

.logoContainer{
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
}
.logoContainer>div{
  flex-basis: 33.3%;
}
.gallery{
  width: 35%;
  height: 60px;
  margin: 5px;
  padding: 5px;
}

.lower-menu{
  display : flex;
  padding: 0 10px 10px 130px;
  background-color: rgb(72, 47, 214);
}
.blue-menu{
padding : 10px 30px ;
}
.blue-menu a{
text-decoration: none;
color:white;
font-family: sans-serif;
font-size: 12px;
line-height:2em;
}
.blue-menu a:hover {
background-color: rgb(17, 7, 79);
}
.blue-menu:visited {
background-color: rgb(159, 147, 240);
}
.firstline a{
font-size: 16px;
font-weight: bold;
}
@media screen and (max-width: 800px) {
.lower-menu {
  display: block;
  padding: 0 10px 10px 120px;
}
.container {
  flex-wrap: wrap;
  }
h1{margin-left: 10px;}
h3{margin-left: 10px;}
.menu{
  padding-left: 10px;
  flex-direction: column;
}
.container .left{
  width: 95%;
  margin-left: 15px;
  margin-right: 15px;
}
.container .right{
  width: 95%;
  margin-left: 15px;
  margin-right: 15px;
}
.gallery{width: 46%;}
}
